body {
    background: #eee;
}
// grid setup for output. 3 columns wide
.movieContainer{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.movie {
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3, h4 {
            margin-bottom: .5em;
        }
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            margin-top: .1rem;
            font-size: 1.2rem;
        }
        .cast {
            flex-grow: 5;
        }
    }
}


