<div class="displayMovies">
    <h4>Title: {{title}}</h4>
    <image src="https://image.tmdb.org/t/p/w185{{poster}}" class="moviePoster" alt="No Movie Poster Available">
    <h3>Cast:{{cast}}</h3>
    <h5>Release Date: {{date}}</h5>
</div>